body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

.wrap {
  background-color: #002800;
  width: 100%;
}
.wrap.why-odd-grocer .visual {
  position: relative;
  height: 100vh;
  background-image: url(../image/odd-grocer/visual-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 50px 0;
}
.wrap.why-odd-grocer .visual .visual-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.wrap.why-odd-grocer .visual .visual-introduce {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #002800;
}
.wrap.why-odd-grocer .visual .visual-introduce strong {
  font-weight: 700;
}
.wrap.why-odd-grocer .visual .visual-sign-bx {
  position: absolute;
  bottom: 43px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 38px;
}
.wrap.why-odd-grocer .visual .visual-sign-bx .visual-sign {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 56px;
}
.wrap.why-odd-grocer .visual .visual-sign-bx .visual-sign-egg {
  display: flex;
  justify-content: center;
}
.wrap.why-odd-grocer .best-eat {
  height: 100vh;
  background-image: url(../image/odd-grocer/best-eat-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap.why-odd-grocer .best-eat .best-eat-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap.why-odd-grocer .best-eat .best-eat-inner .best-eat-text {
  font-size: 60px;
  font-weight: 500;
  line-height: 74px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
}
.wrap.why-odd-grocer .introduce {
  background-image: url(../image/odd-grocer/introduce-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
  padding: 80px 30px 0;
}
.wrap.why-odd-grocer .introduce .introduce-title-bx {
  position: relative;
  margin-bottom: 80px;
}
.wrap.why-odd-grocer .introduce .introduce-title-bx .introduce-title {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.wrap.why-odd-grocer .introduce .introduce-title-bx .introduce-title span {
  font-family: "Optima";
  font-size: 50px;
  font-weight: 400;
  color: #F97D01;
}
.wrap.why-odd-grocer .introduce .introduce-title-bx .introduce-sub {
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 150%;
  color: #363736;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 39px;
}
.wrap.why-odd-grocer .introduce .introduce-title-bx .introduce-sub span {
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx {
  position: relative;
  box-sizing: border-box;
  padding-left: 7px;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description .introduce-description-text {
  font-size: 30px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description .introduce-description-text:first-child img {
  margin-left: 8px;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description .introduce-description-text:first-child img:first-child {
  margin-left: 15px;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description .introduce-description-text:last-child {
  position: relative;
  left: -3px;
  gap: 2px;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description.introduce-description-off .introduce-description-text {
  color: #000000;
  opacity: 0.9;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description.introduce-description-on {
  position: absolute;
  left: 0;
  top: 0;
}
.wrap.why-odd-grocer .introduce .introduce-description-bx .introduce-description.introduce-description-on .introduce-description-text {
  color: #ffffff;
  opacity: 0;
}
.wrap.why-odd-grocer .taste {
  background-color: #ffffff;
  padding: 104px 0 150px;
}
.wrap.why-odd-grocer .taste .taste-title {
  font-family: "Optima";
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.wrap.why-odd-grocer .taste .taste-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #002800;
}
.wrap.why-odd-grocer .taste .taste-description span {
  font-weight: 700;
}
.wrap.why-odd-grocer .process {
  padding: 0 16px;
  margin-bottom: 60px;
}
.wrap.why-odd-grocer .process .process-title-bx {
  background-image: url(../image/odd-grocer/consume-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 41px 0 39px;
  text-align: center;
  margin-top: -50px;
}
.wrap.why-odd-grocer .process .process-title-bx dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap.why-odd-grocer .process .process-title-bx dl dt {
  font-family: "Optima";
  font-size: 66px;
  font-weight: 400;
  color: #ffffff;
}
.wrap.why-odd-grocer .process .process-title-bx dl dd {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.wrap.why-odd-grocer .process .process-title-bx img {
  margin: 18px 0;
}
.wrap.why-odd-grocer .process .process-view {
  background-color: #ffffff;
  padding: 50px 16px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap.why-odd-grocer .process .process-view .process-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #002800;
  text-align: center;
  margin-bottom: 50px;
}
.wrap.why-odd-grocer .process .process-view .process-description span {
  font-weight: 700;
}
.wrap.why-odd-grocer .process .process-view hr {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  margin: 32px 0;
}
.wrap.why-odd-grocer .process .process-view dl {
  width: 311px;
}
.wrap.why-odd-grocer .process .process-view dl dt {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #F97D01;
  margin-bottom: 20px;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx {
  position: relative;
  display: inline-block;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list {
  position: relative;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list .progress-gage-icons {
  display: flex;
  gap: 37px;
  position: relative;
  z-index: 2;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list .progress-gage-icons img {
  display: inline-block;
  width: 50px;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list .progress-gage-line {
  width: 50px;
  height: 9px;
  background-color: #8A8581;
  position: absolute;
  left: 44px;
  top: 21px;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list.progress-gage {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list.progress-gage .progress-gage-line {
  background-color: #FF7D00;
  opacity: 0.3;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list.progress-gage-on {
  display: inline-block;
  position: relative;
  z-index: 5;
  overflow: hidden;
  width: 0%;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list.progress-gage-on .progress-gage-line {
  background-color: #F97D01;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list.progress-gage-finish {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .progress-gage-list.progress-gage-finish img {
  opacity: 0;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect {
  position: absolute;
  width: 76px;
  height: 76px;
  left: 74px;
  top: -13px;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-1 {
  position: absolute;
  display: inline-block;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  transform-origin: center;
  transform: scale(0);
  box-shadow: inset 0 0 0 40px rgba(249, 125, 1, 0.6);
  transition: box-shadow 0.5s ease-in-out;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-1.on {
  box-shadow: inset 0 0 0 0px rgba(249, 125, 1, 0.6);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-2 {
  position: absolute;
  display: inline-block;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  transform-origin: center;
  transform: scale(0);
  box-shadow: inset 0 0 0 40px rgba(249, 125, 1, 0.6);
  transition: box-shadow 0.5s ease-in-out;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-2.on {
  box-shadow: inset 0 0 0 0px rgba(249, 125, 1, 0.6);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines {
  width: 76px;
  height: 76px;
  transform: scale(0.5);
  transform-origin: center;
  position: absolute;
  left: 4px;
  top: -1px;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div {
  position: absolute;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(1) {
  top: 0px;
  left: 21px;
  transform: rotate(-22.5deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(2) {
  top: 0px;
  left: 48px;
  transform: rotate(22deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(3) {
  top: 18px;
  left: 64px;
  transform: rotate(55deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(4) {
  top: 48px;
  left: 64px;
  transform: rotate(130deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(5) {
  top: 64px;
  left: 45px;
  transform: rotate(160deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(6) {
  top: 64px;
  left: 22px;
  transform: rotate(200deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(7) {
  top: 49px;
  left: 5px;
  transform: rotate(-130deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div:nth-child(8) {
  top: 17px;
  left: 3px;
  transform: rotate(-55deg);
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div img {
  width: 1px;
  height: 12px;
  transform: scale(0);
  transform-origin: center bottom;
}
.wrap.why-odd-grocer .process .process-view dl dd .progress-gage-bx .process-effect .process-effect-lines > div img.on {
  transform-origin: center top;
}
.wrap.why-odd-grocer .process .process-view dl dd ul {
  padding: 0 12px;
  box-sizing: border-box;
  margin-top: 4px;
  display: flex;
  gap: 63px;
}
.wrap.why-odd-grocer .process .process-view dl dd ul li {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #FF7D00;
}
.wrap.why-odd-grocer .process .process-view dl.process-view--list-odd dd img {
  width: 142px;
}
.wrap.why-odd-grocer .process .process-view dl.process-view--list-default dt {
  color: #8A8581;
}
.wrap.why-odd-grocer .process .process-view dl.process-view--list-default dd .progress-gage-bx .progress-gage .progress-gage-line {
  width: 245px;
  background-color: #8A8581;
}
.wrap.why-odd-grocer .process .process-view dl.process-view--list-default dd .progress-gage-bx .progress-gage-on .progress-gage-line {
  width: 245px;
  background-color: #8A8581;
}
.wrap.why-odd-grocer .process .process-view dl.process-view--list-default dd img {
  width: 311px;
}
.wrap.why-odd-grocer .process .process-view dl.process-view--list-default dd ul li {
  color: #8A8581;
}
.wrap.why-odd-grocer .peak-time {
  padding: 0 16px;
  margin-bottom: 60px;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx {
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 50px 0;
  box-sizing: border-box;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx h3 span {
  font-weight: 700;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__menus {
  margin-bottom: 16px;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__menus ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DEDEDE;
  padding: 0 12px;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__menus ul li {
  position: relative;
  top: 1px;
  width: 100%;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__menus ul li.on {
  border-bottom: 2px solid #F25100;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__menus ul li.on button {
  color: #333333;
  font-weight: 800;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__menus ul li button {
  width: 100%;
  height: 48px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  padding: 0;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__contents {
  padding: 0 16px;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__contents ul {
  position: relative;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__contents ul li {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__contents ul li:first-child {
  position: relative;
  opacity: 1;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__contents ul li img {
  width: 100%;
  margin-bottom: 40px;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__contents ul li p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.wrap.why-odd-grocer .peak-time .peak-time-list__bx .peak-time__contents ul li p span {
  font-weight: 700;
}
.wrap.why-odd-grocer .behavior {
  padding: 0 16px;
  margin-bottom: 60px;
}
.wrap.why-odd-grocer .behavior .behavior-list {
  background-color: #ffffff;
  padding: 22px 16px 60px;
}
.wrap.why-odd-grocer .behavior .behavior-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li {
  width: 100%;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li button {
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 200px;
  background-color: rgba(130, 100, 70, 0.5);
  border: none;
  padding: 14px;
  position: relative;
  box-sizing: border-box;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li button .behavior-list-content {
  text-align: left;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li button .behavior-list-content p {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li button .behavior-list-content__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li:nth-child(1) .behavior-list-content__img {
  width: 106px;
  bottom: 16px;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li:nth-child(2) .behavior-list-content__img {
  width: 122px;
  bottom: 16px;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li:nth-child(3) .behavior-list-content__img {
  width: 96px;
  bottom: 14px;
}
.wrap.why-odd-grocer .behavior .behavior-list ul li:nth-child(4) .behavior-list-content__img {
  width: 92px;
  bottom: 12px;
}
.wrap.why-odd-grocer .be-odd-eat-real {
  background-image: url(../image/odd-grocer/be-odd-eat-real-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.wrap.why-odd-grocer .be-odd-eat-real dl {
  position: relative;
  height: 100vh;
  text-align: center;
}
.wrap.why-odd-grocer .be-odd-eat-real dl dt {
  position: relative;
  top: 10%;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.wrap.why-odd-grocer .be-odd-eat-real dl dd {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 79px;
  font-family: "Optima";
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
}
.wrap .common-odd-grocer__title {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 127px 14px;
  box-sizing: border-box;
}
.wrap .common-odd-grocer__title.peck-time-bg {
  background-image: url(../image/odd-grocer/peak-time-bg.png);
}
.wrap .common-odd-grocer__title.behavior-bg {
  background-image: url(../image/odd-grocer/behavior-bg.png);
}
.wrap .common-odd-grocer__title dl {
  text-align: center;
}
.wrap .common-odd-grocer__title dl dt {
  font-family: "Optima";
  font-size: 66px;
  font-weight: 400;
  color: #ffffff;
}
.wrap .common-odd-grocer__title dl dd {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;
}
.popup.on {
  display: block;
}
.popup::-webkit-scrollbar {
  display: none;
}
.popup .popup-dimmed {
  background-color: rgba(0, 0, 0, 0.75);
}
.popup .popup-content-bx {
  position: relative;
  width: 100%;
  height: calc(100vh + 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup .popup-content-bx .popup-inner {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 100%;
  padding: 0 26px;
  box-sizing: border-box;
}
.popup .popup-content-bx .popup-inner .popup-close {
  text-align: right;
  margin-right: 10px;
}
.popup .popup-content-bx .popup-inner .popup-close button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.popup .popup-content-bx .popup-inner .popup-content-list {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 20px;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-content {
  display: none;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-content.on {
  display: block;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-content img {
  width: 100%;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-content dl {
  padding: 20px 20px 16px;
  box-sizing: border-box;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-content dl dt {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #002800;
  margin-bottom: 16px;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-content dl dd {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #002800;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-close-btn {
  text-align: center;
}
.popup .popup-content-bx .popup-inner .popup-content-list .popup-close-btn button {
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  padding: 7px 15px;
  background-color: #ffffff;
}
.popup .popup-dimmed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
