
body {
    &.hidden {
        position: fixed;
        width: 100%;
        height: 100dvh;
        overflow: hidden;
    }
}

.fullpage {
    .inner {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        overflow: hidden;

        .sky-bg-bx {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100dvh;

            .sky-bg-img {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 600dvh;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .sky-could {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 600dvh;
                overflow: hidden;
                li{
                    width: 100%;
                    height: 100dvh;
                    box-sizing: border-box;
                    &:nth-child(1){}
                    &:nth-child(2){
                        //320
                        text-align: right;
                        padding-top: 103px;
                        img{
                            width: 160px
                        }
                    }

                    &:nth-child(3){
                        // 252
                        text-align: left;
                        padding-top: 202px;
                        img{
                            width: 126px;
                        }
                    }

                    &:nth-child(4){}

                    &:nth-child(5){
                        text-align: left;
                        padding-top: 131px;
                        img{
                            width: 114px;
                        }
                    }

                    &:nth-child(6){
                        text-align: right;
                        padding-top: 48px;
                        img{
                            width: 79px;
                        }
                    }
                }
            }
        }

        .sections {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100dvh;
            z-index: 10;

            .section {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100dvh;

                &.visual{
                    &.on{
                        z-index: 60;
                    }
                }

                &.on {
                    opacity: 1;
                    z-index: 50;
                }
            }
        }
    }

    .step-list {
        position: relative;

        .tutorial-content {

            .tutorial-bg {
                width: 100%;
                height: 100dvh;

                .tutorial-animation-bx {
                    display: inline-block;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100dvh;
                    overflow: hidden;

                    .tutorial-animation--items {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        bottom: 0;
                        z-index: 10;

                        .tutorial-animation--items-img-bx {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 570px;
                                left: 50%;
                                transform: translate3d(-50%, 0, 0);
                            }
                        }

                        img {
                            width: 100%;
                            height: auto;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            opacity: 0;
                        }

                        .tutorial-animation--object-bx {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 10;

                            .tutorial-animation--object-00 {
                                width: 182px;
                                left: 20.0666666667%;
                                bottom: 32px;
                            }

                            .tutorial-animation--object-01 {
                                width: 71px;
                                left: 56%;
                                bottom: 59px;
                            }

                            .tutorial-animation--object-10 {
                                width: 101px;
                                left: 33.8666666667%;
                                bottom: 40px;
                            }

                            .tutorial-animation--object-11 {
                                width: 84px;
                                left: 51.4666666667%;
                                bottom: 39px;
                            }

                            .tutorial-animation--object-20 {
                                width: 101px;
                                left: 33.8666666667%;
                                bottom: 40px;
                            }

                            .tutorial-animation--object-21 {
                                width: 84px;
                                left: 51.4666666667%;
                                bottom: 39px;
                            }

                            .tutorial-animation--object-30 {
                                width: 246px;
                                left: 0;
                                bottom: 48px;
                            }

                            .tutorial-animation--object-31 {
                                opacity: 0;
                                width: 60px;
                                left: 44.3243243243%;
                                bottom: 187px;
                                transform: scaleX(-1);
                            }

                            .tutorial-animation--object-40 {
                                width: 197px;
                                right: 0px;
                                left: initial;
                                bottom: 3px;
                                z-index: 10;
                            }

                            .tutorial-animation--object-41 {
                                width: 52px;
                                left: initial;
                                right: 201px;
                                bottom: 16px;
                            }
                        }
                    }
                }

                .tutorial-step-bx {
                    padding-top: 109px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: calc(100vh + 100px);
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &.show-sticky {}

                    dl {
                        text-align: center;
                        transition: transform 0.3s ease-in-out;
                        transform: translateY(50px);

                        &.show-sticky {
                            position: sticky;
                            left: 0;
                            top: 109px;
                        }

                        dt {
                            text-align: center;
                            opacity: 0;
                            margin-bottom: 16px;
                            opacity: 0;

                            span {
                                padding: 6px 14px;
                                border: 1px solid #ffffff;
                                border-radius: 100px;
                                overflow: hidden;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 100%;
                                color: #ffffff;
                                display: inline-block;
                            }
                        }

                        dd {
                            font-weight: 500;
                            font-size: 26px;
                            line-height: 130%;
                            color: #002800;
                            opacity: 0;

                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            .tutorial-description {
                position: absolute;
                width: 100%;
                height: 100dvh;
                justify-content: center;
                align-items: center;
                font-size: 50px;
                left: 0;
                top: 0;
                z-index: 10;
                opacity: 0;
                display: none;
                // display: flex;

                .tutorial-desc-swiper {
                    position: relative;
                    top: 50px;
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 82.9333333333%;
                            .tutorial-desc-bx {
                                box-sizing: border-box;

                                .tutorial-desc-item {
                                    background-color: #FAFAF0;
                                    border-radius: 20px;
                                    overflow: hidden;
                                    box-shadow: 20px 30px 25.1px -15px #0000000D;
                                    position: relative;

                                    .tutorial-desc-img {
                                        width: 100%;
                                        height: 180px;
                                        overflow: hidden;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            object-position: center;
                                            transform: scale(1.5);
                                            transition: transform 0.25s ease-out;
                                            will-change: transform, opacity;
                                            backface-visibility: hidden;
                                        }
                                    }

                                    .tutorial-desc-item__text {
                                        padding: 20px 20px 40px 20px;
                                        box-sizing: border-box;

                                        dl {
                                            text-align: center;

                                            dt {
                                                font-weight: 700;
                                                font-size: 20px;
                                                line-height: 140%;
                                                margin-bottom: 15px;

                                                > div {
                                                    margin-top: 4px;

                                                    span {
                                                        font-weight: 700;
                                                        font-size: 14px;
                                                        line-height: 130%;
                                                        color: #EB5A00;
                                                        padding: 4px 16px;
                                                        border: 1px solid #EB5A00;
                                                        border-radius: 1000px;
                                                    }
                                                }
                                            }

                                            dd {
                                                height: 105px;
                                                overflow-y: auto;
                                                padding-right: 10px;
                                                box-sizing: border-box;
                                                touch-action: pan-y;

                                                span {
                                                    display: block;
                                                    font-weight: 400;
                                                    font-size: 15px;
                                                    line-height: 140%;
                                                    padding-bottom: 10px;
                                                }
                                            }
                                        }
                                    }

                                    .tutorial-desc-item__text--shadow {
                                        width: 100%;
                                        height: 50px;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        background: linear-gradient(180deg, rgba(255, 255, 255, 0) -43%, #FAFAF0 36%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .visual {
        width: 100%;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        .visual-logo-bx {
            position: absolute;
            z-index: 20;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 100px 0 66px;
            box-sizing: border-box;

            span {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 66px;
                font-size: 20px;
                font-weight: 700;
                color: #CCCCC4;
                opacity: 0;
            }

            img {
                width: 160px;
                opacity: 0;
            }
        }

        .visual-key {
            width: 100%;
            height: 100dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 11;
            position: relative;

            .visual-key-content {
                position: relative;
                opacity: 0;
                z-index: 10;

                .visual-key-bx {
                    width: 375px;
                    height: 546px;
                    position: relative;

                    .visual-key-img {
                        overflow: hidden;
                        z-index: 2;
                        position: absolute;
                        left: 50%;
                        top: 205px;
                        transform: translateX(-50%);
                        opacity: 0;
                        width: 18px;

                        img {
                            width: 100%;
                        }
                    }

                    .visual-key-bg-img {
                        position: relative;
                        z-index: 2;
                        font-size: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .visual-key-bg-color {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #002800;
                        opacity: 0;
                    }
                }
            }

            .visual-key-bg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #002800;
            }
        }

        .visual-introduce {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .visual-introduce__content {
                width: 100%;
                position: relative;
                top: 20px;
                z-index: 10;
                text-align: center;

                img {
                    width: 22px;
                    margin-bottom: 14px;
                }

                dl {
                    margin-bottom: 40px;

                    dt {
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 140%;
                        color: #ffffff;
                        margin-bottom: 25px;
                    }

                    dd {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 140%;
                        color: #ffffff;

                        .strong-text {
                            color: #ffffff;
                            font-size: 24px;
                            line-height: 140%;

                            strong {
                                font-size: 24px;
                                line-height: 140%;
                                color: #F97D01;
                            }

                            span {
                                color: #ffffff;
                                font-size: 24px;
                                line-height: 140%;
                                font-weight: 700;
                            }
                        }

                        span {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 140%;
                        }
                    }
                }

                .visual-introduce__journey {
                    font-family: Optima;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 120%;
                    color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin-top: 0px;
                    }
                }
            }

            .visual-introduce__video {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000000;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0.6;
                }
            }
        }
    }

    .secret {
        position: relative;
        width: 100%;
        height: 100dvh;
        z-index: 2;

        .secret-title {
            position: relative;
            z-index: 10;
            padding-top: 105px;

            dl {
                text-align: center;

                dt {
                    font-family: 'Optima';
                    font-weight: 400;
                    font-size: 44px;
                    line-height: 100%;
                    margin-bottom: 12px;
                    color: #002800;
                    opacity: 0;
                }

                dd {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #002800;
                    opacity: 0;
                }
            }
        }

        .secret-img {
            position: absolute;
            left: 50%;
            bottom: 22px;
            transform: translateX(-50%);
            z-index: 10;
            opacity: 0;

            img {
                width: 227px;
                position: relative;
                top: 44px;
            }

            span {
                display: block;
                width: 100%;
                text-align: center;
                font-family: Optima;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: #FFFFFF;
            }
        }

        .secret-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .secret-bg-item {
                opacity: 0;
                position: absolute;
                width: 570px;
                bottom: 0;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }
        }
    }

    .quiz {
        background-color: #FAFAF0;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
        opacity: 0;

        .quiz-bx {
            .quiz-title {
                margin-bottom: 30px;
                text-align: center;

                p {
                    font-family: 'Optima';
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 100%;
                    color: #002800;
                    margin-bottom: 16px;
                }

                dl {
                    dt {
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 120%;
                        color: #002800;
                        margin-bottom: 16px;

                        span {
                            color: #F97D01;
                        }
                    }

                    dd {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #002800;
                    }
                }
            }

            .quiz-item-list {
                display: flex;
                gap: 1px;

                .quiz-item {
                    position: relative;

                    &.dimmed {
                        label {
                            .quiz-item-dimmed {
                                opacity: 1;
                            }
                        }
                    }

                    input {
                        display: none;

                        &:checked+label {
                            .quiz-text-bx {
                                .quiz-text-bx__content {
                                    border: 1px solid #F97D01;

                                    .quiz-icon-bx {
                                        img {
                                            &:first-child {
                                                opacity: 0;
                                            }

                                            &:last-child {
                                                opacity: 1;
                                            }
                                        }
                                    }

                                    span {
                                        color: #EB5A00;
                                    }
                                }
                            }
                        }
                    }

                    label {
                        font-size: 0;
                        position: relative;
                        display: block;

                        >img {
                            width: 100%;
                        }

                        .quiz-text-bx {
                            position: absolute;
                            width: 100%;
                            bottom: 16px;
                            left: 0;
                            padding: 0 20px;
                            box-sizing: border-box;
                            z-index: 10;

                            .quiz-text-bx__content {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 8px 0px 8px 20px;
                                border-radius: 10px;
                                overflow: hidden;
                                background-color: #FAFAF0D9;
                                backdrop-filter: blur(10px);
                                box-shadow: 0px 4px 4px 0px #0000001A;
                                transition: background-color 0.15s ease-out;
                                gap: 8px;
                                border: 1px solid #FAFAF0;

                                .quiz-icon-bx {
                                    width: 16px;
                                    height: 16px;
                                    position: relative;

                                    img {
                                        transition: opacity 0.15s ease-out;

                                        &:last-child {
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            opacity: 0;
                                        }
                                    }
                                }

                                span {
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 130%;
                                    color: #002800;
                                    transition: color 0.15s ease-out;
                                }
                            }
                        }

                        .quiz-item-dimmed {
                            position: absolute;
                            background-color: rgba(#281F1280, 0.5);
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 9;
                            opacity: 0;
                        }
                    }
                }
            }

            .quiz-btn-bx {
                padding: 0 16px;
                box-sizing: border-box;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 28px;

                a {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140%;
                    color: #ffffff;
                    background-color: #EB5A00;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    padding: 9px 0;
                    text-decoration: none;

                    .quiz-btn__logo {
                        border-radius: 100%;
                        background-color: #ffffff;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 0 3px;
                        margin-right: 10px;

                        img {
                            width: 100%;
                        }
                    }

                    >span {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .popup {
        z-index: 1000;

        .popup-dimmed {
            background: #00000099;
            backdrop-filter: blur(40px);
        }
    }
}