body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
}

.wrap {
    background-color: #002800;
    width: 100%;

    &.why-odd-grocer {
        .visual {
            position: relative;
            height: calc(100vh);
            background-image: url(../image/odd-grocer/visual-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
            padding: 50px 0;

            .visual-logo {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 32px;
            }

            .visual-introduce {
                text-align: center;
                font-size: 16px;
                line-height: 24px;
                color: #002800;

                strong {
                    font-weight: 700;
                }
            }

            .visual-sign-bx {
                position: absolute;
                bottom: 43px;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 0 38px;

                .visual-sign {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 56px;
                }

                .visual-sign-egg {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .best-eat {
            height: 100vh;
            background-image: url(../image/odd-grocer/best-eat-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            .best-eat-inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .best-eat-text {
                    font-size: 60px;
                    font-weight: 500;
                    line-height: 74px;
                    color: #fff;
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }

        .introduce {
            background-image: url(../image/odd-grocer/introduce-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            box-sizing: border-box;
            padding: 80px 30px 0;

            .introduce-title-bx {
                position: relative;
                margin-bottom: 80px;

                .introduce-title {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;

                    span {
                        font-family: 'Optima';
                        font-size: 50px;
                        font-weight: 400;
                        color: #F97D01;
                    }
                }

                .introduce-sub {
                    position: absolute;
                    top: 28px;
                    right: 0;
                    font-size: 28px;
                    font-weight: 400;
                    line-height: 150%;
                    color: #363736;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 39px;

                    span {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 100%;
                        color: #ffffff;
                    }
                }
            }

            .introduce-description-bx {
                position: relative;
                box-sizing: border-box;
                padding-left: 7px;

                .introduce-description {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .introduce-description-text {
                        font-size: 30px;
                        line-height: 100%;
                        font-weight: 600;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        &:first-child {
                            img {
                                margin-left: 8px;

                                &:first-child {
                                    margin-left: 15px;
                                }
                            }
                        }

                        &:last-child {
                            position: relative;
                            left: -3px;
                            gap: 2px;
                        }
                    }

                    &.introduce-description-off {
                        .introduce-description-text {
                            color: #000000;
                            opacity: 0.9;
                        }
                    }

                    &.introduce-description-on {
                        position: absolute;
                        left: 0;
                        top: 0;

                        .introduce-description-text {
                            color: #ffffff;
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .taste {
            background-color: #ffffff;
            padding: 104px 0 150px;

            .taste-title {
                font-family: 'Optima';
                font-size: 50px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 20px;
            }

            .taste-description {
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                color: #002800;

                span {
                    font-weight: 700;
                }
            }
        }

        .process {
            padding: 0 16px;
            margin-bottom: 60px;

            .process-title-bx {
                background-image: url(../image/odd-grocer/consume-bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                box-sizing: border-box;
                padding: 41px 0 39px;
                text-align: center;
                margin-top: -50px;

                dl {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    dt {
                        font-family: 'Optima';
                        font-size: 66px;
                        font-weight: 400;
                        color: #ffffff;
                    }

                    dd {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #ffffff;
                    }
                }

                img {
                    margin: 18px 0;
                }
            }

            .process-view {
                background-color: #ffffff;
                padding: 50px 16px 60px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .process-description {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #002800;
                    text-align: center;
                    margin-bottom: 50px;

                    span {
                        font-weight: 700;
                    }
                }

                hr {
                    border: none;
                    border-bottom: 1px solid #E0E0E0;
                    width: 100%;
                    margin: 32px 0;
                }

                dl {
                    width: 311px;

                    dt {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #F97D01;
                        margin-bottom: 20px;
                    }

                    dd {
                        .progress-gage-bx{
                            position: relative;
                            display: inline-block;

                            .progress-gage-list {
                                position: relative;

                                .progress-gage-icons{
                                    display: flex;
                                    gap: 37px;
                                    position: relative;
                                    z-index: 2;
                                    img{
                                        display: inline-block;
                                        width: 50px;
                                    }
                                }

                                .progress-gage-line{
                                    width: 50px;
                                    height: 9px;
                                    background-color: #8A8581;
                                    position: absolute;
                                    left: 44px;
                                    top: 21px;
                                }

                                &.progress-gage{
                                    opacity: 1;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    .progress-gage-line{
                                        background-color: #FF7D00;
                                        opacity: 0.3;
                                    }
                                }
    
                                &.progress-gage-on{
                                    display: inline-block;
                                    position: relative;
                                    z-index: 5;
                                    overflow: hidden;
                                    width: 0%;
                                    .progress-gage-line{
                                        background-color: #F97D01;
                                    }
                                }

                                &.progress-gage-finish{
                                    opacity: 1;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    z-index: 10;
                                    img{
                                        opacity: 0;
                                    }
                                }
                            }

                            .process-effect{
                                position: absolute;
                                width: 76px;
                                height: 76px;
                                left: 74px;
                                top: -13px;

                                .process-effect-1{
                                    position: absolute;
                                    display: inline-block;
                                    width: 76px;
                                    height: 76px;
                                    border-radius: 100%;
                                    transform-origin: center;
                                    transform: scale(0);
                                    box-shadow: inset 0 0 0 40px rgba( #F97D01, 0.6 );
                                    transition: box-shadow 0.5s ease-in-out;

                                    &.on{
                                        box-shadow: inset 0 0 0 0px rgba( #F97D01, 0.6 );
                                    }
                                }

                                .process-effect-2{
                                    position: absolute;
                                    display: inline-block;
                                    width: 76px;
                                    height: 76px;
                                    border-radius: 100%;
                                    transform-origin: center;
                                    transform: scale(0);
                                    box-shadow: inset 0 0 0 40px rgba( #F97D01, 0.6 );
                                    transition: box-shadow 0.5s ease-in-out;

                                    &.on{
                                        box-shadow: inset 0 0 0 0px rgba( #F97D01, 0.6 );
                                    }
                                }

                                .process-effect-lines{
                                    width: 76px;
                                    height: 76px;
                                    transform: scale(0.5);

                                    transform-origin: center;
                                    position: absolute;
                                    left: 4px;
                                    top: -1px;
                                    > div{
                                        position: absolute;

                                        &:nth-child(1){
                                            top: 0px;
                                            left: 21px;
                                            transform: rotate(-22.5deg);
                                        }

                                        &:nth-child(2){
                                            top: 0px;
                                            left: 48px;
                                            transform: rotate(22deg);
                                        }
                                        &:nth-child(3){
                                            top: 18px;
                                            left: 64px;
                                            transform: rotate(55deg);
                                        }
                                        &:nth-child(4){
                                            top: 48px;
                                            left: 64px;
                                            transform: rotate(130deg);
                                        }
                                        &:nth-child(5){
                                            top: 64px;
                                            left: 45px;
                                            transform: rotate(160deg);
                                        }
                                        &:nth-child(6){
                                            top: 64px;
                                            left: 22px;
                                            transform: rotate(200deg);
                                        }
                                        &:nth-child(7){
                                            top: 49px;
                                            left: 5px;
                                            transform: rotate(-130deg);
                                        }
                                        &:nth-child(8){
                                            top: 17px;
                                            left: 3px;
                                            transform: rotate(-55deg);
                                        }

                                        img{
                                            width: 1px;
                                            height: 12px;
                                            transform: scale(0);
                                            transform-origin: center bottom;
                                            &.on{
                                                transform-origin: center top;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        ul {
                            padding: 0 12px;
                            box-sizing: border-box;
                            margin-top: 4px;
                            display: flex;
                            gap: 63px;

                            li {
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 24px;
                                color: #FF7D00;
                            }
                        }
                    }

                    &.process-view--list-odd {
                        dt {}

                        dd {
                            img {
                                width: 142px;
                            }
                        }
                    }

                    &.process-view--list-default {
                        dt {
                            color: #8A8581;
                        }

                        dd {
                            .progress-gage-bx{
                                .progress-gage{
                                    .progress-gage-line{
                                        width: 245px;
                                        background-color: #8A8581;
                                    }
                                }

                                .progress-gage-on{
                                    // width: 137px;
                                    // width: 224px;
                                    // width: 312px;
                                    .progress-gage-line{
                                        width: 245px;
                                        background-color: #8A8581;
                                    }
                                }
                            }
                            img {
                                width: 311px;
                            }

                            ul {
                                li {
                                    color: #8A8581;
                                }
                            }
                        }
                    }
                }
            }
        }

        .peak-time{
            padding: 0 16px;
            margin-bottom: 60px;
            .peak-time-list__bx{
                background-color: #ffffff;
                box-sizing: border-box;
                padding-bottom: 60px;
                h3{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    padding: 50px 0;
                    box-sizing: border-box;
                    span{
                        font-weight: 700;
                    }
                }

                .peak-time__menus{
                    margin-bottom: 16px;
                    ul{
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #DEDEDE;
                        padding: 0 12px;
                        li{
                            position: relative;
                            top: 1px;
                            width: 100%;
                            &.on{
                                border-bottom: 2px solid #F25100;
                                button{
                                    color: #333333;
                                    font-weight: 800;
                                }
                            }
                            button{
                                width: 100%;
                                height: 48px;
                                text-align: center;
                                background-color: transparent;
                                border: none;
                                font-size: 16px;
                                font-weight: 400;
                                color: #808080;
                                padding: 0;;
                            }
                        }
                    }
                }

                .peak-time__contents{
                    padding: 0 16px;
                    ul{
                        position: relative;
                        li{
                            opacity: 0;
                            &:first-child{
                                position: relative;
                                opacity: 1;
                            }
                            position: absolute;
                            left: 0;
                            top: 0;
                            img{
                                width: 100%;
                                margin-bottom: 40px;
                            }

                            p{
                                text-align: center;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;

                                span{
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }

        .behavior{
            padding: 0 16px;
            margin-bottom: 60px;
            .behavior-list{
                background-color: #ffffff;
                padding: 22px 16px 60px;
                ul{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;
                    li{
                        width: 100%;
                        button{
                            border-radius: 10px;
                            display: flex;
                            justify-content: flex-start;
                            width: 100%;
                            height: 200px;
                            background-color: rgba( #826446, 0.5 );
                            border: none;

                            padding: 14px;
                            position: relative;
                            box-sizing: border-box;
                            .behavior-list-content{
                                text-align: left;
                                p{
                                    font-size: 18px;
                                    font-weight: 700;
                                    color: #ffffff;
                                    margin-bottom: 16px;
                                }
                            }

                            .behavior-list-content__img{
                                position: absolute;
                                right: 0;
                                bottom: 0;
                            }
                        }

                        &:nth-child(1){
                            .behavior-list-content__img{
                                width: 106px;
                                bottom: 16px;
                            }
                        }
                        &:nth-child(2){
                            .behavior-list-content__img{
                                width: 122px;
                                bottom: 16px;
                            }
                        }
                        &:nth-child(3){
                            .behavior-list-content__img{
                                width: 96px;
                                bottom: 14px;
                            }
                        }
                        &:nth-child(4){
                            .behavior-list-content__img{
                                width: 92px;
                                bottom: 12px;
                            }
                        }
                    }
                }
            }
        }

        .be-odd-eat-real{
            background-image: url(../image/odd-grocer/be-odd-eat-real-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;

            dl{
                position: relative;
                height: 100vh;
                text-align: center;
                dt{
                    position: relative;
                    top: 10%;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #ffffff;
                }
                dd{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 79px;
                    font-family: 'Optima';
                    font-size: 28px;
                    font-weight: 400;
                    color: #ffffff;
                }
            }
        }
    }

    .common-odd-grocer__title{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 127px 14px;
        box-sizing: border-box;

        &.peck-time-bg{
            background-image: url(../image/odd-grocer/peak-time-bg.png);
        }

        &.behavior-bg{
            background-image: url(../image/odd-grocer/behavior-bg.png);
        }

        dl{
            text-align: center;
            dt{
                font-family: 'Optima';
                font-size: 66px;
                font-weight: 400;
                color: #ffffff;
            }
            dd{
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                color: #ffffff;
            }
        }
    }
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;

    &.on{
        display: block;
    }

    &::-webkit-scrollbar {
        display: none;
      }

    .popup-dimmed{
        background-color: rgba( 0, 0, 0, 0.75 );
    }

    .popup-content-bx{
        position: relative;
        width: 100%;
        height: calc( 100vh + 1px );
        display: flex;
        justify-content: center;
        align-items: center;

        .popup-inner{
            position: relative;
            z-index: 10;
            display: inline-block;
            width: 100%;
            padding: 0 26px;
            box-sizing: border-box;
    
            .popup-close{
                text-align: right;
                margin-right: 10px;
                button{
                    border: none;
                    background-color: transparent;
                    padding: 0;
                }
            }
    
            .popup-content-list{
                background-color: #ffffff;
                border-radius: 20px;
                overflow: hidden;
                padding-bottom: 20px;
                .popup-content{
                    display: none;
                    &.on{
                        display: block;
                    }
                    img{
                        width: 100%;
                    }
    
                    dl{
                        padding: 20px 20px 16px;
                        box-sizing: border-box;
                        dt{
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 24px;
                            color: #002800;
                            margin-bottom: 16px;
                        }
                        dd{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            color: #002800;
                        }
                    }
                }
    
                .popup-close-btn{
                    text-align: center;
                    button{
                        border: 1px solid #E6E6E6;
                        border-radius: 8px;
                        padding: 7px 15px;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
    

    .popup-dimmed{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}